.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.heading>.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;


}
.heading-title {
    padding-top: 110px;
    padding-bottom: 32px;
}
.heading-strip {
    width: 72px;
    height: 3px;
    background-color: #ffc925;

}
.heading-description {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
