.heading {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}
.heading-head {
    flex-basis: 100%;
}
.heading-strip {
    width: 72px;
    height: 3px;
    background-color: #ffc925;

}
.heading-description {
    flex-basis: 100%;
}