html {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

img {

  max-width: 100%;
  height: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
