@import "normalize.css";
@import "base.css";
@import "type.css";


@import "components/container.css";
@import "components/button.css";
@import "components/form.css";
@import "components/card.css";
@import "components/logo.css";

@import "components/width.css";
@import "components/grid.css";
@import "components/layout.css";
@import "components/navbar.css";
@import "components/header.css";
@import "components/slider.css";
@import "components/heading.css";





.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.gallery-1-in-3 {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
}
.gallery-card {
    width: 370px;
}